body{height: 500px;}
.top-img-size{width: 140px;height: 140px;}
.sm{background-color: #C1693C;}
.md{background-color: #3A8FB7;}
.lg{background-color: #58B2DC;}
.jumbotron{
	width: 68%;
	height: 68%;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	background-color: #FFFFF5;
}
.div-margin-bottom{
	margin-bottom: 15px;
}
.padding-zero{
	padding: 0;
}
.time-padding{
	display: inline-block;
	padding: 15px;
}
.my-panel{
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.panel-default .my-panel-heading{
	border-bottom: 0;
	background-color: white;
}
.my-panel-heading .panel-title{
	font-size: 22px;
}
.panel-body{
	font-size: 18px;
}
.tab-pane .panel:last-child{
	border:none;
}
.read{
	padding-left: 20px;
}
.panel-body a:hover,.panel-body a:visited,.panel-body a:link{
	text-decoration: none;
}
}